.detail {
    max-width: 900px;
    margin: 24px auto;
    padding: 24px;
}

.detail h3 {
    margin-top: 40px;
}

.back {
    display: inline-block;
    margin-bottom: 12px;
    color: #7a3e1d;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.profile-home-link {
    margin-top: 10px;
}

.card-manicure {
    background-image: url('https://i.pinimg.com/736x/bb/8c/68/bb8c683382d6616c6c31d76386a2119d.jpg');
}

.card-pedicure {
    background-image: url('https://i.pinimg.com/1200x/18/6f/15/186f156d5a9a699e1370f42e6674c49b.jpg');
}

.card-design {
    background-image: url('https://i.pinimg.com/736x/f7/07/dc/f707dca7a3ff529287ab0363f77b87d4.jpg');
}

.card-care {
    background-image: url('https://i.pinimg.com/736x/71/4c/4f/714c4f68e933ab9e2b725d93dc818d5c.jpg');
}

.card-classic-massage {
    background-image: url('https://i.pinimg.com/1200x/45/19/88/45198862306fe3a7bbf8b961c6e7320c.jpg');
}

.card-relax {
    background-image: url('https://i.pinimg.com/1200x/65/d2/7a/65d27ae52710daf29cd57d276aa54a99.jpg');
}

.card-sports-massage {
    background-image: url('https://i.pinimg.com/736x/38/c5/da/38c5da7085e1feb90c6cf8cdc02c5c1f.jpg');
}

.card-face-cleaning {
    background-image: url('https://i.pinimg.com/1200x/62/97/c0/6297c0a5366767a621a0b9a01caaf5ef.jpg');
}

.card-peeling {
    background-image: url('https://i.pinimg.com/1200x/ff/e4/31/ffe431a279388d674a8e127da9321437.jpg');
}

.card-injections {
    background-image: url('https://i.pinimg.com/736x/0f/91/6a/0f916acb7230bdd2bd402bc9b027f687.jpg');
}

.card-day-makeup {
    background-image: url('https://i.pinimg.com/1200x/29/db/f8/29dbf814cd4ab85e09c67a87e220249f.jpg');
}

.card-evening-makeup {
    background-image: url('https://i.pinimg.com/1200x/8a/14/30/8a14307e277a7d4b4568b03c7385f304.jpg');
}

.card-wedding-makeup {
    background-image: url('https://i.pinimg.com/1200x/0e/3f/11/0e3f11fea3b5250de519aa9390df1822.jpg');
}